header {
  display: grid;
  justify-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
}

h1 {
  text-align: center;
  font-family: var(--font-oxanium);
  font-size: var(--fs-lg);
  line-height: 100%;
  color: var(--gray-100);

  & div {
    color: var(--blue);
  }
}